@import url("https://fonts.googleapis.com/css?family=Poppins");

*{
    font-family: 'poppins';
}

body {
    background-color: #F2F4F7;
}

.logo {
    height: 110px;
    width: auto;
    display: flex;
    position: fixed;
    margin-top: 170px;
    margin-left: 180px;
}

.logo p {
    font-family: 'poppins';
    margin-top : 100px;
    margin-left: -300px;
    font-size: 25px;
}


.modern-form {
    width: 400px;
    height: 350px;
    font-family: 'Segoe UI', sans-serif;
    background: white;
    border-radius: 8px;
    box-shadow: 0 8px 20px grey;
    place-items: center;
    position: fixed;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-left: 600px;
  }
  
.modern-form input[type="text"]{
    width: 300px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 37px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.3s, box-shadow 0.3s;
}
.modern-form input[type="email"] {
    width: 300px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 37px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .modern-form input:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.1);
    outline: none;
  }
  
  .modern-form .login {
    padding: 10px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 37px;
    border: none;
    border-radius: 6px;
    background: #007bff;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
    width: 323px;
  }
  
  .modern-form .login:hover {
    background: #0056b3;
  }
  
.forgottenPassword a {
    text-decoration: none;
    display: flex;
    position: fixed;
    font-size: 15px;
    color: #007bff;
    margin-left: -80px;
}

.modern-form .forgottenPassword :hover {
    color: #0056b3;
  }

.createNewAccount {
    padding: 10px 10px ;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    background-color: #55B72D;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
    width: 200px;
    margin-top: 50px;
    margin-left: 100px;
}

.createNewAccount a {
    color: white;
    text-decoration: none;
}