@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    background-color: black;
}

a{
    text-decoration: none;
    color: white;
}

.navbar{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar .logo {
    font-size: 50px;
    font-weight: 700;
    text-decoration: none;
    color: white;
    transition: 0.5s;
    text-shadow: 0 0 10px white;
    text-transform: uppercase;
}

.navbar .logo:hover {
    color: yellow ;
    text-shadow: 0 0 10px yellows;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 50px;
}

.navbar ul li a {
    font-size: 25px;
    font-weight: 500;
    transition: 0.5s;
}

.navbar ul li:hover a{
    color: yellow;
    text-shadow: 0 0 10px yellow;

}

.home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: white; 

}

.home ul li {
     font-size: 25px;
}